@font-face{
  font-family: 'Metropolis-bold';
  src: url('./assets/fonts/Metropolis-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Metropolis-regular';
  src: url('./assets/fonts/Metropolis-Regular.otf');
  font-weight: normal;
}

